<footer>
  <div class="py-5 border-top">
    <div class="container">
      <div class="row">

        {%- for footer-section in site.footer -%}
        <div class="col-md text-center">
          {%- if footer-section.title -%}
          <h5 class="footer-title">{{ footer-section.title }}</h5>
          {%- endif -%}
          <a href="{{footer-section.logo-link}}">
            <img class="footer-logo" style="width:{{footer-section.width-logo}};"
              src="{{ site.baseurl }}/assets/img/{{footer-section.image-logo}}" alt="{{ footer-section.image-name }}">
          </a>

          {%- if footer-section.image-name2 -%}
          <a href="{{footer-section.logo-link2}}">
            <img class="footer-logo" style="width:{{footer-section.width-logo2}};" src="{{ site.baseurl }}/assets/img/{{footer-section.image-logo2}}"
              alt="{{ footer-section.image-name2 }}">
          </a>
          {%- endif -%}
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>